body,html,ul,h1,h2,h3,h4,h5,p {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  font-family: 'Amatic SC', cursive;
}
li {
  list-style-type: circle;
  margin-left: 18px;
  font-size: 1.2em;
}
header h1 {
  text-align: center;
  font-size: 6em;
  font-weight: bold;
  padding: 30px 0 20px 0;
  color: #d80505;
  letter-spacing: 5px;
}
#rand {
  text-align: center;
  color: #ababab;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#search-control {
  position: relative;
  display: inline-block;
  padding: 10px;
  left: 50%;
  transform: translate(-50%);
}
#input-field {
  -webkit-appearance: none;
  -webkit-border-radius:0px;
  border-width: 1px;
  font-size: 1.3em;
  border-color: #ababab;
  border-style: solid;
  padding: 4px 60px 4px 11px;
  color: #ababab;
  transition: border-color 100ms linear;
}
#search-control .fa-search {
  position: absolute;
  bottom: 18px;
  right: 20px;
  color: #d80505;
  font-size: 1.2em;
  cursor: pointer;
}
#input-field:hover, #input-field:focus {
  border-color: #000;
  outline: none;
}
#user-query {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.page h1 {
  border-bottom: 1px solid #d80505;
  padding-bottom: 4px;
  color: #000;
}
.page a {
  text-decoration: none;
}
.page p {
  padding-top: 5px;
  font-size: 1.5em;
}
.page p i {
  color: #696969;
}
.page p b {
  color: #000;
}
#user-query h1 {
  text-align: center;
}
#confine-text {
  word-wrap: break-word;
  position: relative;
  color: #000;
  text-align: center;
  padding: 10px;
}
#confine-text h1 {
  padding: 0px 20px;
  font-size: 5em;
  letter-spacing: 3px;
  font-weight: 600;
}
#display {
  padding: 5px;
}
.masonary {
  -moz-column-count: 2;
  column-count: 2;
  -moz-column-gap: .4em;
  column-gap: .4em;
}
.item {
  background: rgba(196, 196, 196, 0.87);
  padding: 10px;
  display: inline-block;
  margin: 0 0 .4em;
  border: 1px solid #000;
  border-radius: 3px;
  transition: background 100ms linear;
}
.item:hover {
  background: #b0b0b0;
}

@media(max-width: 600px) {
  .masonary {
    -moz-column-count: 1;
    column-count: 1;
  }
}







